h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.app {
  display: flex;
  width: 1266px;
  flex-wrap: wrap;
  margin: 20px auto auto;

  .container:nth-child(3n) {
    margin-right: 0;
  }
}
